/* Smaller Screen */
@media screen and (max-width: 1024px)  {

	html { font-size: 14px; }

	/* ======== application container  ======== */

	.app {
		display: block;
	}

	.app-main, .app-sidebar {
		width:100%;
	}

	/* ======== footer ======== */

	.footer-nav {

 	}

}