/* ======== COLORS  ======== 
 *
 * primary: #FD775B (red-orange)
 * secondary: #85dd60 (green)
 * tertiary: #1AD2E8 (aqua)
 * dark: #4A4A4A (very dark grey)
 * light grey: #FAFAFA;
 * 
 *
 */



/* ======== overrides  ======== */
html {
  font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	color:#4a4a4a;
	letter-spacing:0.65px;
}

/* ======== application container  ======== */
.app {
	width:100%;
	min-height:91.5%;
	height:auto;
	background:#FAFAF3;
	display:flex;
/*	==========================
	NB: these are all defaults!
	==========================
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:stretch;
*/
}

	/*overlay over visible app body*/

	.app-loading {

	}


	#app-main {
		width:100%;
	}	
/*	#app-main.is-left {
		width:75%;
	}*/
	.app-sidebar {
		display:none;
		width:30%;
		background:#fff;
		border-left:solid #ccc 1px;
	}
	.app-sidebar.is-right {
		display: block;
	}
	.app-sidebar.is-right.cart-is-open {
		/*margin-top:-40px;*/ /*height of global header*/
	}
	.app-sidebar.is-right.filter-is-open {
		width:20%;
	}


/* ======== layout  ======== */

.grid-full {
	width:90%;
	/*border:dotted pink 1px;*/
	margin:0 auto;
}

.grid-full.mod-flex {
	display:flex;
}
	.grid-full.mod-flex.mod-flex-wrap {
		flex-wrap:wrap;
	}

	.grid-full.mod-flex.mod-space-between {
		justify-content:space-between;

	}

.grid-full.mod-flex-column {
	flex-direction: column;
}


.grid-75 {
	width:74%;
	margin:0 auto;
}
.grid-50 {
	width:49%;
}
.grid-25 {
	width:24%;
}
.grid-20 {
	width:19%;
}
.grid-10 {
	width:9%;
}
.grid-7 {
	width:6%;
}



/* ======== general  ======== */

.global-button {
	padding:0;
	margin:0;
	cursor:pointer;
	border:none;
	background:none;
	text-decoration:none;
	font-weight: inherit;
	font-family: inherit;
	font-size:inherit;
	letter-spacing: inherit;

}

.global-button.mod-primary {
	background:#FD775B;
	color:#fff;
	border-radius:4px;
}

.global-button.mod-primary:hover {
	background:#85dd60;
}

.global-button.mod-link {
	color:#FD775B;
	text-decoration:none;
}

.global-button-secondary {

}

.global-link {
	color:#FD775B;
	text-decoration:none;
}

.global-link-invert {
}

.global-header {
	height:40px;
}

.global-subheader {

}

.global-text {

}

/* inlined uls */
.global-list {
	list-style-type:none;
	padding:0;
	margin:0;
}

/* inlined lis */
.global-list-item {
	display:inline;

}

/* ======== utility  ======== */

.util-clear {
	clear:both;
}

.util-float-left {
	float:left;
}
.util-float-right {
	float:right;
}

.util-text-center {
	text-align:center;
}
.util-block-center {
	margin:0 auto;
	display: block;
}

/* ======== global header ======== */

.global-header {
	background:#FD775B; 
	color:#fff;
	display: flex;
	align-items: center;
}
	
.global-header-logo {
	color:inherit;
	text-decoration: none;
	font-size:1.25rem;
	letter-spacing: 4px;

}
	.global-header-logo-icon {

	}

.global-header-cart {
	font-weight: 300;
}
	.global-header-cart.is-hidden {
		display:none;
	}

	.global-header-cart-button {
		color:#fff;
		font-size:1rem;

	}
	.global-header-cart-summary {

	}


/* ======== Products View ======== */

.view-products {
	/*container for the view*/
	display: none;
}

	.view-products.is-visible {
		display: block;
	}


/* ======== tool bar ======== */

.toolbar {
	background:#fff;
	height:40px;
	display: flex;
	align-items: center;
	font-size:1rem;
}

	.toolbar-item {
		cursor:pointer;
		color:#4A4A4A;
	}
	.toolbar-item:hover, 
	.toolbar-item:active {
		color:#85dd60;
	} 
	.toolbar-item.is-selected {
		color:#85dd60;
	}

.toolbar-dateselect {
	color:#ccc;
}
.toolbar-dateselect:hover,
.toolbar-dateselect:active,
.toolbar-dateselect:focus {
	color:#85dd60;
}
	/* select more dates has been clicked */
	.toolbar-dateselect.is-selected:before {
		  
	}	

.toolbar-filter {
	color:#ccc;
}
.toolbar-filter:hover,
.toolbar-filter:active,
.toolbar-filter:focus {
	color:#85dd60;
}
	/* select filter has been clicked */
	.toolbar-filter.is-selected:before  {

	}

/* ======== date select dropdown ======== */

.dateselect {
	background:#fff;
	border-top: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
	height:150px;
	display:none;

}

	.dateselect.is-visible {
		display: block;
	}

.dateselect-header {
	text-align: center;
	padding: 20px 0;
	font-weight:600;
}

.dateselect-items {
	display:flex;
	justify-content: space-between;
}

	.dateselect-item {
		cursor:pointer;
		display:inline-block;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		padding:0.5rem;
	}
		/* date is selected */
		.dateselect-item.is-selected {
			background:#FAFAFA;
		}

		.dateselect-item:hover {
			background:#FAFAFA;
		}

	.dateselect-item-day {
		text-align:center;
		color:#ccc;
		font-weight:300;
		line-height:1.5rem;
	}

		.dateselect-item-day.is-selected {
			color:#85dd60;
		}

	.dateselect-item-date {
		text-align:center;
		font-size:1.15rem;
	}	



/* ======== product list ======== */


.product-list {
	padding-top:5rem;

}

.product-list-item {
	flex-basis: 22%;
    max-width: 22%;
    margin-bottom:2.5rem;
}


	/*assume we have 4 columns*/
	.product-list-item:nth-child(4n) {
    	flex-basis: 100%;
	}

	/* n in cart overlay */
	.product-list-item.is-added {

	}

	.product-list-item.mod-filler {
		visibility: hidden;
	}

	

	.product-list-item-image {
		min-height:200px;
		height:auto;
		background:url(http://placehold.it/200x200) center center no-repeat;
		background-size:100%;
		border-radius:2px;
		cursor: pointer;
		margin-bottom:1rem;

	}
	.product-list-item-title {
		font-weight:600;
	}
	.product-list-item-options {
		display: flex;
		justify-content: space-between;
		margin-top:0.25rem;

	}
		.product-list-item-price {

		}
		.product-list-item-button {
			border:solid #4a4a4a 1px;
			border-radius:2px;
			background:none;
			padding:0.15rem 0.5rem;
			font-weight:400;
			margin:0 0 0 0.5rem;
		}	
		.product-list-item-button:hover {
			background:#85dd60;
			color:#fff;
			font-weight:300;
			border:solid #85dd60 1px;
		}	

		.product-list-item-button.mod-add:hover:after {
			content: " Add";
		}
		.product-list-item-button.mod-remove {
			display:none;
		}		
		.product-list-item-button.mod-remove:hover {
			background:#f81515;
			border:solid #f81515 1px;
		}		
		.product-list-item-button.mod-remove:hover:after {
			content: " Decrease";
		}
		.product-list-item-button.mod-remove.is-visible {
			display:inline-block;
		}


/* ======== filter products sidebar ======== */

.product-filter {
	display:none;
	

}

	.product-filter.is-visible {
		display: block;
	}

.product-filter-header {
	border-bottom:solid #ccc 1px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    padding:0 2rem;
}
	
	.product-filter-header-title {
		color:#85dd60;
	}

	.product-filter-close {
		color:#ccc;
	}	
	.product-filter-close:hover,
	.product-filter-close:active,
	.product-filter-close:focus {
		color:#FD775B;
	}

.product-filter-list {
	padding-top:1rem;
}
	.product-filter-list-header {
		font-weight:600;
		padding-bottom:0.5rem;
		color:#000;
	}

	.product-filter-list-item {
		cursor:pointer;
		padding:1em 0;
	}	
		.product-filter-list-item:hover,
		.product-filter-list-item:active,
		.product-filter-list-item:focus {
			background:#FAFAFA;
		}

		.product-filter-list-item.is-selected {
			background:#FAFAFA;
		}

		.product-filter-list-content {
			padding:1rem 2rem;
		}


/* ======== cart sidebar  ======== */


.cart {
	display:none;
	background:#fff;
}

.cart.is-visible {
	display:block;
	
}

.cart-header {
	border-bottom:solid #ccc 1px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    padding:0 2rem;
}

	.cart-header-title {
		font-weight:600;
		font-size:1.15rem;
	}

	.cart-close {
		color:#ccc;
	}	
	.cart-close:hover,
	.cart-close:active,
	.cart-close:focus {
		color:#FD775B;
	}

.cart-list {
	padding:1rem 2rem;
}

	.cart-list-date {
		font-weight:600;
	}

	.cart-list-item {
		margin:1rem 0;
	}

		.cart-list-item-image {
			width:75px;
			height:75px;
			background:url(http://placehold.it/100x100) center center no-repeat;
			background-size:100%;
			border-radius:2px;
			margin:1rem 1rem 1rem 0;
			float:left;

		}

		.cart-list-item-right {
			float:left;
		}

		.cart-list-item-title {
			font-weight:600;
		}

		.cart-list-item-quantity {
			margin-top:1rem;
			display: flex;

		}
			.cart-list-item-quantity-toggle {
				border:solid #ccc 1px;
				border-radius:2px;
				width: 75px;
			    display: flex;
			    justify-content: space-around;
			    font-weight:700;
			    margin:0 1rem 1rem 0;
			}
				.cart-list-item-quantity-decrement {
					font-size:1.15rem;
					width:20px;
				}
				.cart-list-item-quantity-increment {
					width:20px;

				}
				.cart-list-item-quantity-number {
					font-weight:500;
				}
			.cart-list-item-quantity-remove {
				color:#f81515;
				height:1px;
			}			
			.cart-list-item-quantity-remove:hover {
				text-decoration: underline;
			}

		.cart-list-item-price {
			font-weight:500;
		}

.cart-subtotal {
	border-top:solid #ccc 1px;
}

	.cart-subtotal-summary {
		padding:1rem 2rem;
		display: flex;
		justify-content: space-between;

	}

		.cart-subtotal-summary-title {
			font-weight: 600;
			font-size:1.25rem;
		}

		.cart-subtotal-summary-price {
			font-size:1.25rem;

		}

	.cart-subtotal-checkout {
		padding:1rem 1.5rem;
		margin:2rem auto;
		display: block;
		border-radius:2px;
	}


/* ======== error bar ======== */

.error-bar {
	background:#F81515;
	color:#fff;
	display:none;
}

	.error-bar.is-visible {
		display:block;
	}

	.error-bar-content {
		text-align:center;
	}

	.error-bar-close {

	}

/* ======== checkout view ======== */


.view-checkout {
	padding-bottom:40px;
	display:none;
}

	.view-checkout.is-visible {
		display: block;
	}

.checkout-progress-bar {
	background:#fff;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    margin-bottom:2.5rem;
    width:100%;
	display: flex;
}

	.checkout-progress-bar.is-top {
		top:0;
	}

	.checkout-progress-bar.is-fixed {
		position: fixed;
		border-bottom:solid #ccc 1px;
	}

	.checkout-progress-bar-step {
		color:#ccc;
		flex-basis: 20%;
		padding:9px 0;
		text-align:center;
	}
		.checkout-progress-bar-step:hover {
			background:#FAFAFA;
			cursor:pointer;
			color:#4a4a4a;
		}	
		.checkout-progress-bar-step.in-progress {
			
		}
		.checkout-progress-bar-step.is-complete {
			background:#85dd60;
			color:#fff;
		}

.checkout-section {
	margin:2.5rem 0;
	padding:2em 3em;
	background:#fff;
	border-bottom:solid #ccc 1px;

}

.checkout-header {
	border-bottom:solid #ccc 1px;
	font-weight:500;
	font-size:1.25rem;
	padding-bottom:1rem;
	margin-bottom:2.5rem;
}

.checkout-subheader {

}

.checkout-delivery-select {
	border:solid #ccc 1px;
	border-radius:2px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1rem 0 2.5rem 0;
}
	.checkout-delivery-select-item {
		cursor:pointer;
		flex-basis: 25%;
		padding:9px 0;
		text-align:center;
		border-right:solid #ccc 1px;
	}
	.checkout-delivery-select-item.is-selected,
	.checkout-delivery-select-item:last-of-type {
		border-right:none;
	}

	.checkout-delivery-select-item:hover {
		background:#85dd60;
		color:#fff;
		border-right:none;
	}
	.checkout-delivery-select-item.is-selected {
		background:#85dd60;
		color:#fff;
	}

	/* ======== product summary ======== */

	.product-summary {
	
	}
		.product-summary-image {
			width: 75px;
		    height: 75px;
		    background: url(http://placehold.it/100x100) center center no-repeat;
		    background-size: 100%;
		    border-radius: 2px;
		    margin: 0 1rem 1rem 0;
		    float:left;
		}	

		.product-summary-title {
			font-weight:600;
			margin-bottom: 1rem;
		}
		.product-summary-price {
			
		}
		.product-summary-quantity {
			display: flex;
			align-items:center;
		}
			label[for='product-summary-quantity-select'] {
				font-weight:600;
			}

			.product-summary-quantity-remove {
				color:#f81515;
			
			}			
			.product-summary-quantity-remove:hover {
				text-decoration: underline;
			}

	/* ======== form fields ======== */

	.form-fields {
		margin-top:2.5rem;
	}

	.form-field {
		display: inline-block;
		margin: 0.5rem 0.25rem 0.5rem 0;
	}

	.form-label {

	}

	.form-field-input {
	    border: solid #ccc 1px;
	    background:#fff;
	    height:40px;
	    margin: 1rem 0;
	    border-radius: 2px;
	    display: block;
	   	width:100%;
	   	padding:0;
	   	border-radius:2px;
	   	text-indent:10px;
	}	

	.form-field-input.mod-text {

	}

	.form-field-input.mod-number {

	}

	.form-field-input.mod-textarea {
		display: block;
		height:5rem;
		padding-top:1rem;
	}

	.form-field-input.mod-select {
		padding-left:auto;
	}

	/*mod for product summary component*/
	.form-field-input.mod-quantity-select {
		width:100px;
		margin:0 1rem;
	}

	.form-button {
		padding:.5rem 1.5rem;
		border-radius:4px;
		color:#fff;
		height:40px;

	}

	.form-button.mod-cancel {
		background:#ccc;
	}
	.form-button.mod-cancel:hover {
		background:#ebebeb;
	}

	.form-button.mod-save {
		
	}

.divider {
	font-weight:500;
	text-indent:1rem;
	margin:1rem 0;
	color:#999;
}


.checkout-order-summary {
	margin-bottom:1rem;
	width:100%;
}

	.checkout-order-summary-row {
		padding:2rem;
	}	
	.checkout-order-summary-data-header {
		text-align:left;
		font-weight:600;
	}	
	.checkout-order-summary-data {
		text-align:right;
		padding:0.5rem;
	}

	.checkout-order-summary-gratuity {

	}

.cart-total {
	border-top:solid #ccc 1px;
}

	.cart-total-summary {
		padding:1rem 0;
		display: flex;
		justify-content: space-between;

	}

		.cart-total-summary-title {
			font-weight: 600;
			font-size:1.5rem;
		}

		.cart-total-summary-title:after {
			content: "\00a0 \00a0";
		}

		.cart-total-summary-price {
			font-size:1.5rem;

		}

	.cart-total-checkout {
		padding:1rem 3rem;
		margin:2.5rem auto;
		display: block;
		border-radius:2px;
	}

/* ======== order complete page ======== */

.view-complete {
	/*container for the view*/
	display: none;
}

	.view-complete.is-visible {
		display: block;
	}

.order-complete {
	margin:0 0 80px 0;
}
	.order-complete-icon {
		font-size:60px;
		text-align:center;
		display:block;
		color: #FD775B;
	}

/* ======== footer ======== */

.footer {
	border-top:solid #ccc 1px;
	height:60px;
	display: flex;
	align-items:center;
	font-size:0.8rem;
	font-weight:600;
}

.footer-nav {
	/*display:flex;
	justify-content:space-between;*/

}

	.footer-nav-link {
		color:#4a4a4a;
		padding-right:14%;
		text-transform: uppercase;
		text-align: center;
		font-size:inherit;
	}	
	.footer-nav-link:hover {
		color:#FD775B;
	}
	.footer-nav-link.mod-no-padding {
		padding:0;
	}

.footer-logo {
	color:#FD775B;
	padding-right:4%;
}



